<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="raml-model"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
      <import plugin="org.eclipse.xtext.xbase.lib" export="true"/>
      <import plugin="org.eclipse.emf.ecore.xcore.lib" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated elements -->
      <package
            uri="http://www.vrap.io/raml/elements"
            class="io.vrap.rmf.raml.model.elements.ElementsPackage"
            genModel="model/elements.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated facets -->
      <package
            uri="http://www.vrap.io/raml/facets"
            class="io.vrap.rmf.raml.model.facets.FacetsPackage"
            genModel="model/facets.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modules -->
      <package
            uri="http://www.vrap.io/raml/modules"
            class="io.vrap.rmf.raml.model.modules.ModulesPackage"
            genModel="model/modules.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated instances -->
      <package
            uri="http://www.vrap.io/raml/instances"
            class="io.vrap.rmf.raml.model.instances.InstancesPackage"
            genModel="model/instances.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated resources -->
      <package
            uri="http://www.vrap.io/raml/resources"
            class="io.vrap.rmf.raml.model.resources.ResourcesPackage"
            genModel="model/resources.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated types -->
      <package
            uri="http://www.vrap.io/raml/types"
            class="io.vrap.rmf.raml.model.types.TypesPackage"
            genModel="model/types.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated securityschemes -->
      <package
            uri="http://www.vrap.io/raml/securityschemes"
            class="io.vrap.rmf.raml.model.securityschemes.SecurityschemesPackage"
            genModel="model/security.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated security -->
      <package
            uri="http://www.vrap.io/raml/security"
            class="io.vrap.rmf.raml.model.security.SecurityPackage"
            genModel="model/security.xcore"/>
   </extension>

</plugin>
